btn-primary {
    background-color: #dd3838;
}

.btn-primary {
    background-color: #e82323;
    border-width: 0px;
}

.btn-primary:hover {
    border-width: 0px;
    background-color: #b82424;
}

.card {
    box-shadow: 0px;
}

.homeHeader {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
}