/* Buttons */
.btn-primary {
    border-width: 0;
    font-weight: 600;
    color: #fff;
}

.btn-primary:hover {
    background-color: #b82424;
    color: #fff;
    border-width: 0;
}

.btn-primary:focus {
    background-color: #ffb6b6;
    box-shadow: none;
}

/* Header */
.homeHeader {
    background: linear-gradient(180deg, #ECE9E6 0%, #FFF 100%);
}

/* Card Images */
.card img {
    object-fit: cover;
    width: 100%;
    min-height: 150px;
    max-height: 1rem;
}

/* Responsive Card Images */
@media (max-width:575px) and (min-width:450px) {
    .card img { min-height: 225px; }
}
@media (min-width:576px) and (max-width:767px) {
    .card img { min-height: 250px; }
}
@media (min-width:768px) and (max-width:991px) {
    .card img { min-height: 120px; }
}
@media (min-width:1200px) {
    .card img { min-height: 185px; }
}

/* Bold Text */
b { font-weight: bold; }

/* Trailer Caption Responsive */
@media (max-width:1023px) {
    .trailer-caption {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }
}